body {
  text-align: center;
  padding: 2%;
}

/* img {
  width: 200px;
} */

.charCard {
  display: inline-block;
  border: solid black;
  padding: 5%;
  margin: 2%;
}

.logo {
  display: flex;
  justify-content: center;
}
